li{
    height: 6em;
    border-radius: .1em;
    margin-top: 10px;
    border-left: solid 3px;
}

.unit-count{
    margin-left: 1.5em;
    font-size: 1em;
    color: #898989;
    padding: 0;
    margin-top: 0.3em; 
}


img.list-item-img{
    margin-top: .5em;
    max-width: 5em;
    height: 5em;
}

button.list-item-button{
    float: right;
    margin-top: 1.65em;
    margin-right: 1em;
    background-color: #EEE;
}


h3.list-item-title{
    margin-left: 1.2em;
    margin-bottom: 0;
}