<md-card class="main-card">  
    
    <h3>Pick topping</h3>

    <div class="main-list">
        <ul>
        <ng-container *ngFor="let x of toppingList">
            <store-li 
            [name]="x.fields.name" 
            [image]="x.fields.image_link" 
            [color]="x.fields.color" 
            [count]="x.fields.count"
            [unit]="{'singular':'cup','plural':'cups'}"
            (incrementCount)="addToCart($event, x)"></store-li>
        </ng-container>
        </ul>
    </div>

    <div style="height:2em; margin-top:1em;">
        <button md-raised-button [style.backgroundColor]="'#9B66DE'" style="float:right;" (click)="goToReviewOrder()">
            Review Order <md-icon>arrow_forward</md-icon>
        </button> 
    </div>

</md-card>