.cereal-gifs-container{
    width: 100vw;
    height: 300px; 
    padding: 0;
    position: fixed;
    top:0;
    left:0;
}

.cereal-gifs-container ul{
    margin: 0;
    padding: 0;
    white-space: nowrap; 
    overflow-x: auto; 
    list-style: none;
}

.cereal-gifs-container li{  
  display: inline;  
}

.cereal-gifs-container img{
    height:100px;
    vertical-align: top;
    transition: all 1s cubic-bezier(.25,.8,.25,1);
}

.cereal-gifs-container img:hover{
    height:150px;
}

button{margin: .2em;}