<md-card class="main-card">  

  <h3>Payment</h3>

  <h4>Where should we deliver?</h4>
  <div class="map-container">

  </div>

  <h4>Order total</h4>
  <table class="summary">
    <tr>
      <td>2x cocoa puffs</td>
      <td>$5</td>
    </tr>
    <tr>
      <td>2x Regular Milk</td>
      <td>$2</td>
    </tr>
    <tr>
      <td>1x Strawberries</td>
      <td>$.5</td>
    </tr>
    <tr>
      <td>Delivery</td>
      <td>$3</td>
    </tr>
    <tr class="total">
      <td>Total</td>
      <td>$100</td>
    </tr>
  </table>


  
</md-card>